CPds_GAPds_LAPds_HNS.final
GAPs_GAPd.final
LAPs_LAPd.final
data/biom/CPds_GAPds_LAPds_HNS.biom
data/biom/CPds_GAPds_LAPds_HNS.qza
data/biom/GAPs_GAPd.biom
data/biom/GAPs_GAPd.qza
data/biom/LAPs_LAPd.biom
data/biom/LAPs_LAPd.qza
data/distance/ADONIS/ADONIS_CPds_GAPds_LAPds_HNS_ShortCond+Cond+braycurtis.pdf
data/distance/ADONIS/ADONIS_CPds_GAPds_LAPds_HNS_ShortCond+Cond+jaccard.pdf
data/distance/ADONIS/ADONIS_GAPs_GAPd_ShortCond+Cond+braycurtis.pdf
data/distance/ADONIS/ADONIS_GAPs_GAPd_ShortCond+Cond+jaccard.pdf
data/distance/ADONIS/ADONIS_LAPs_LAPd_ShortCond+Cond+braycurtis.pdf
data/distance/ADONIS/ADONIS_LAPs_LAPd_ShortCond+Cond+jaccard.pdf
data/distance/ANOSIM/ANOSIM_CPds_GAPds_LAPds_HNS_braycurtis.pdf
data/distance/ANOSIM/ANOSIM_CPds_GAPds_LAPds_HNS_jaccard.pdf
data/distance/ANOSIM/ANOSIM_GAPs_GAPd_braycurtis.pdf
data/distance/ANOSIM/ANOSIM_GAPs_GAPd_jaccard.pdf
data/distance/ANOSIM/ANOSIM_LAPs_LAPd_braycurtis.pdf
data/distance/ANOSIM/ANOSIM_LAPs_LAPd_jaccard.pdf
data/distance/beta_div/CPds_GAPds_LAPds_HNS+braycurtis.tsv
data/distance/beta_div/CPds_GAPds_LAPds_HNS+jaccard.tsv
data/distance/beta_div/GAPs_GAPd+braycurtis.tsv
data/distance/beta_div/GAPs_GAPd+jaccard.tsv
data/distance/beta_div/LAPs_LAPd+braycurtis.tsv
data/distance/beta_div/LAPs_LAPd+jaccard.tsv
data/distance/PCoA/PCoA_CPds_GAPds_LAPds_HNS+braycurtis.tsv
data/distance/PCoA/PCoA_CPds_GAPds_LAPds_HNS+jaccard.tsv
data/distance/PCoA/PCoA_GAPs_GAPd+braycurtis.tsv
data/distance/PCoA/PCoA_GAPs_GAPd+jaccard.tsv
data/distance/PCoA/PCoA_LAPs_LAPd+braycurtis.tsv
data/distance/PCoA/PCoA_LAPs_LAPd+jaccard.tsv
data/distance/PERMDISP/PERMDISP_CPds_GAPds_LAPds_HNS_braycurtis.pdf
data/distance/PERMDISP/PERMDISP_CPds_GAPds_LAPds_HNS_jaccard.pdf
data/distance/PERMDISP/PERMDISP_GAPs_GAPd_braycurtis.pdf
data/distance/PERMDISP/PERMDISP_GAPs_GAPd_jaccard.pdf
data/distance/PERMDISP/PERMDISP_LAPs_LAPd_braycurtis.pdf
data/distance/PERMDISP/PERMDISP_LAPs_LAPd_jaccard.pdf
data/logs/PDF_CPds_GAPds_LAPds_HNS_ADONIS.log
data/logs/PDF_CPds_GAPds_LAPds_HNS_ANOSIM.log
data/logs/PDF_CPds_GAPds_LAPds_HNS_PERMDISP.log
data/logs/PDF_GAPs_GAPd_ADONIS.log
data/logs/PDF_GAPs_GAPd_ANOSIM.log
data/logs/PDF_GAPs_GAPd_PERMDISP.log
data/logs/PDF_LAPs_LAPd_ADONIS.log
data/logs/PDF_LAPs_LAPd_ANOSIM.log
data/logs/PDF_LAPs_LAPd_PERMDISP.log
data/map/CPds_GAPds_LAPds_HNS.txt
data/map/GAPs_GAPd.txt
data/map/LAPs_LAPd.txt
data/plots/PCoA_CPds_GAPds_LAPds_HNS+braycurtis.svg
data/plots/PCoA_CPds_GAPds_LAPds_HNS+jaccard.svg
data/plots/PCoA_GAPs_GAPd+braycurtis.svg
data/plots/PCoA_GAPs_GAPd+jaccard.svg
data/plots/PCoA_LAPs_LAPd+braycurtis.svg
data/plots/PCoA_LAPs_LAPd+jaccard.svg
data/scripts/ADONIS_CPds_GAPds_LAPds_HNS.sh
data/scripts/ADONIS_GAPs_GAPd.sh
data/scripts/ADONIS_LAPs_LAPd.sh
data/scripts/ANOSIM_CPds_GAPds_LAPds_HNS.sh
data/scripts/ANOSIM_GAPs_GAPd.sh
data/scripts/ANOSIM_LAPs_LAPd.sh
data/scripts/beta_div_PCoA_CPds_GAPds_LAPds_HNS.sh
data/scripts/beta_div_PCoA_GAPs_GAPd.sh
data/scripts/beta_div_PCoA_LAPs_LAPd.sh
data/scripts/PDF_ADONIS_CPds_GAPds_LAPds_HNS.sh
data/scripts/PDF_ADONIS_GAPs_GAPd.sh
data/scripts/PDF_ADONIS_LAPs_LAPd.sh
data/scripts/PDF_ANOSIM_CPds_GAPds_LAPds_HNS.sh
data/scripts/PDF_ANOSIM_GAPs_GAPd.sh
data/scripts/PDF_ANOSIM_LAPs_LAPd.sh
data/scripts/PDF_PERMDISP_CPds_GAPds_LAPds_HNS.sh
data/scripts/PDF_PERMDISP_GAPs_GAPd.sh
data/scripts/PDF_PERMDISP_LAPs_LAPd.sh
data/scripts/PERMDISP_CPds_GAPds_LAPds_HNS.sh
data/scripts/PERMDISP_GAPs_GAPd.sh
data/scripts/PERMDISP_LAPs_LAPd.sh
data/scripts/SVG_PCoA_CPds_GAPds_LAPds_HNS.sh
data/scripts/SVG_PCoA_GAPs_GAPd.sh
data/scripts/SVG_PCoA_LAPs_LAPd.sh
data/biom/Func_GAPd_LAPd_CPd_HNS_subsystem.biom
data/biom/Func_GAPd_LAPd_CPd_subsystem.biom
data/biom/kfp5s2_CPd_GAPd_LAPd.biom
data/biom/kfp5s2_CPd_GAPd_LAPd_HNS.biom
.Rprofile
data/map/Func_GAPd_LAPd_CPd_HNS_subsystem.txt
data/map/Func_GAPd_LAPd_CPd_subsystem.txt
data/map/kfp5s2_CPd_GAPd_LAPd.txt
data/map/kfp5s2_CPd_GAPd_LAPd_HNS.txt
renv/activate.R
renv/settings.dcf
workflow/scripts/.Rhistory
data/all_files/all_samples+philr.qza
data/all_files/all_samples/all_samples_originals/all_samples+philr.qza
data/all_files/all_samples/all_samples_originals/all_samples.tsv
data/all_files/all_samples/all_samples_originals/all_samples_caseUnchanged.tsv
data/all_files/all_samples_case_Unchanged.txt
data/all_files/all_samples_caseUnchanged+philr.qza
data/all_files/all_samples_caseUnchanged.txt
data/all_files/alpha/ace.tsv
data/all_files/alpha/chao1.tsv
data/all_files/alpha/shannon.tsv
data/all_files/biom/SHIP.biom
data/all_files/distance/SHIP+philr.tsv
data/all_files/NoCaseChange/ace_combo_nonparametric/ace_combo_nonparametric.qzv
data/all_files/NoCaseChange/ace_combo_parametric/ace_combo_parametric.qzv
data/all_files/NoCaseChange/chao1_combo_nonparametric/chao1_combo_nonparametric.qzv
data/all_files/NoCaseChange/chao1_combo_parametric/chao1_combo_parametric.qzv
data/all_files/NoCaseChange/nocasechange_samples+philr.qza
data/all_files/NoCaseChange/nocasechange_samples.tsv
data/all_files/NoCaseChange/shannon_combo_nonparametric/shannon_combo_nonparametric.qzv
data/all_files/NoCaseChange/shannon_combo_parametric/shannon_combo_parametric.qzv
data/all_files/NoCaseChange_allObese/nocasechange/nocasechange_samples+philr.qza
data/all_files/NoCaseChange_allObese/nocasechange/nocasechange_samples_original.txt
data/all_files/NoCaseChange_allObese/nocasechange/nocasechange_shannon_combo_parametric/visualization.qzv
data/all_files/NoCaseChange_allObese/nocasechange_samples_trimmed+philr.qza
data/all_files/NoCaseChange_allObese/nocasechange_samples_trimmed.tsv
data/all_files/NoCaseChange_allObese/noncasechange_samples_trimmed_pairwise-distances.qzv
data/all_files/NoCaseChange_allObese/noncasechange_samples_trimmed_pairwise-distances_nonparametric.qzv
data/all_files/NoCaseChange_allObese/shannon_combo_nonparametric/visualization.qzv
data/all_files/NoCaseChange_allObese/shannon_combo_parametric/visualization.qzv
data/all_files/originals/SHIP.tre
data/all_files/originals/SHIP.tsv
data/all_files/originals/SHIP_hdf5.biom
data/all_files/originals/SHIP_json.biom
data/all_files/originals/SHIP_tsv.tsv
data/all_files/PerSite__progressingsites_vs_nonprogressing/nonprogressing_patients/nonparameteric_nonprogressing_ace.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/nonprogressing_patients/nonparameteric_nonprogressing_chao1.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/nonprogressing_patients/nonparameteric_nonprogressing_shannon.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/nonprogressing_patients/parametric_nonprogressing_ace.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/nonprogressing_patients/parametric_nonprogressing_chao1.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/nonprogressing_patients/parametric_nonprogressing_shannon.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/not_progressing.tsv
data/all_files/PerSite__progressingsites_vs_nonprogressing/not_progressing_pairwise-distances.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/not_progressing_philr.qza
data/all_files/PerSite__progressingsites_vs_nonprogressing/progressing_patients/ace_non-parametric_visualization.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/progressing_patients/ace_progressing_parametric.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/progressing_patients/chao1_progressing_nonparametric.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/progressing_patients/chao1_progressing_parametric.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/progressing_patients/files/progressing+philr.qza
data/all_files/PerSite__progressingsites_vs_nonprogressing/progressing_patients/files/progressing.tsv
data/all_files/PerSite__progressingsites_vs_nonprogressing/progressing_patients/pairwise-distances.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/progressing_patients/shannon_progressing_nonparametric.qzv
data/all_files/PerSite__progressingsites_vs_nonprogressing/progressing_patients/shannon_progressing_parametric.qzv
data/all_files/SHIP/all_samples+philr.qza
data/all_files/SHIP/mappingFile_final.tsv
data/all_files/SHIP/SHIP+philr.qza
data/all_files/SHIP/SHIP.qza
data/all_files/SHIP/SHIP.tre
data/all_files/SHIP/SHIP.tsv
workflow works/envs/biom.yaml
workflow works/envs/csvkit.yaml
workflow works/envs/fastspar.yaml
workflow works/envs/html2pdf.yaml
workflow works/envs/NMDS.yaml
workflow works/envs/philr.yaml
workflow works/envs/phylotoast.yaml
workflow works/envs/qiime2.yaml
workflow works/envs/R_with_graphing.yaml
workflow works/rules/alpha_div.snakefile
workflow works/rules/beta_div.snakefile
workflow works/rules/beta_sig.snakefile
workflow works/rules/fastspar.snakefile
workflow works/rules/make_qza.snakefile
workflow works/rules/philr.snakefile
workflow works/scripts/.Rhistory
workflow works/scripts/gephi_zipi.R
workflow works/scripts/make_core.R
workflow works/scripts/NMDS.R
workflow works/scripts/NMDS_hull.R
workflow works/scripts/philr.R
workflow works/scripts/zipi_graph.R
data/biom/BothPerio.biom
data/biom/BothPerio.qza
data/biom/BothPerio_temp.biom
data/biom/casediag_HGHRv3.biom
data/biom/casediag_HGHRv3.qza
data/biom/casediag_HGHRv3_temp.biom
data/biom/SHIP_distance.txt
data/biom/SHIP_hdf5.biom
data/biom/SHIP_json.biom
data/map/BothPerio.txt
data/map/casediag_HGHRv3.txt
data/map/SHIP_canonicalv3.tsv
data/mappingfile 2.xlsx
data/mappingfile.xlsx
data/philr.R
data/Philr_pairwise.jrp
data/tree/SHIP.tre
definition.txt
input.yaml
input.yaml
input.yaml
data/biom/SHIP_canonicalv3.biom
data/biom/SHIP_canonicalv3_for_tree.biom
data/biom/v35_oral_condensed.tsv
data/map/SHIP_canonicalv3.txt
data/map/v35_oral.txt
data/samples.txt
data/tree/v35_oral.tre
data/samples.txt
data/samples.txt
data/.Rhistory
data/samples.txt
